In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('GAdataFromgForm.csv')

In [3]:
df.head()

,Timestamp,Eid,Name,SQ1,SQ2,SQ3,SQ,EQ1,EQ2,EQ3,...,C/C++,PHP,Javascript,MySQL,Java,Python,HTML/CSS,Areas of Interests,Preferred OS,Preferred Text Editor
0,4/11/2019 21:56:43,1,Utsav Gupta,3,4,0,50,7,3,3,...,3,2,2,3,0,0,2,Web Development Android Development Machine Le...,Windows,Wordpad
1,4/11/2019 21:57:37,2,Soumya Agarwal,7,4,7,65,4,3,6,...,4,2,2,4,0,0,2,Machine Learning,Windows,Notepad
2,4/11/2019 22:05:32,3,Rajat Garg,7,4,4,62,4,3,3,...,3,2,1,3,0,1,1,Web Development Android Development,Linux distros,VScode
3,4/11/2019 22:15:16,4,Mansi,7,4,7,65,10,7,3,...,3,2,2,3,0,1,2,Web Development,Windows,Vim
4,4/11/2019 22:18:33,5,Prateek,7,4,4,62,4,7,6,...,3,1,1,1,0,3,2,Machine Learning,Windows,Vim

In [4]:
df.drop('Timestamp',inplace=True,axis=1)

In [5]:
AOI=df['Areas of Interests']

In [6]:
df['Interest_WebDev']=np.zeros(shape=(df.shape[0],),dtype=int)
df['Interest_Android/IOS']=np.zeros(shape=(df.shape[0],),dtype=int)
df['Interest_GameDev']=np.zeros(shape=(df.shape[0],),dtype=int)
df['Interest_ML']=np.zeros(shape=(df.shape[0],),dtype=int)
df['Interest_Security']=np.zeros(shape=(df.shape[0],),dtype=int)
df['Interest_IoT']=np.zeros(shape=(df.shape[0],),dtype=int)

In [7]:
AOI[0]

'Web Development Android Development Machine Learning'

In [8]:
for i in range(AOI.shape[0]):
    interests=AOI[i]
    interest=interests.split(' ')
    for x in interest:
        if x=='Web':
            df['Interest_WebDev'][i]=1
        elif x=='Android':
            df['Interest_Android/IOS'][i]=1
        elif x=='Game':
            df['Interest_GameDev'][i]=1
        elif x=='Machine':
            df['Interest_ML'][i]=1
        elif x=='Cyber':
            df['Interest_Security'][i]=1
        elif x=='Internet':
            df['Interest_IoT'][i]=1

/home/yugandhar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/yugandhar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/yugandhar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/home/yugandhar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/yugandhar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/yugandhar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
df.drop('Areas of Interests',axis=1,inplace=True)

In [10]:
df.head()

,Eid,Name,SQ1,SQ2,SQ3,SQ,EQ1,EQ2,EQ3,EQ,...,Python,HTML/CSS,Preferred OS,Preferred Text Editor,Interest_WebDev,Interest_Android/IOS,Interest_GameDev,Interest_ML,Interest_Security,Interest_IoT
0,1,Utsav Gupta,3,4,0,50,7,3,3,70,...,0,2,Windows,Wordpad,1,1,0,1,0,0
1,2,Soumya Agarwal,7,4,7,65,4,3,6,64,...,0,2,Windows,Notepad,0,0,0,1,0,0
2,3,Rajat Garg,7,4,4,62,4,3,3,61,...,1,1,Linux distros,VScode,1,1,0,0,0,0
3,4,Mansi,7,4,7,65,10,7,3,87,...,1,2,Windows,Vim,1,0,0,0,0,0
4,5,Prateek,7,4,4,62,4,7,6,72,...,3,2,Windows,Vim,0,0,0,1,0,0

In [11]:
textEditors=pd.get_dummies(df['Preferred Text Editor'],prefix='PrefTE',prefix_sep='_')

In [12]:
OS=pd.get_dummies(df['Preferred OS '],prefix='PrefOS',prefix_sep='_')

In [13]:
df=pd.concat([df,textEditors,OS],axis=1)

In [14]:
df.drop(['Preferred OS ','Preferred Text Editor'],axis=1,inplace=True)

In [15]:
df.columns

Index(['Eid', 'Name', 'SQ1 ', 'SQ2', 'SQ3', 'SQ', 'EQ1', 'EQ2', 'EQ3', 'EQ',
       'IQ1', 'IQ2', 'IQ3', 'IQ', 'C/C++', 'PHP', 'Javascript', 'MySQL',
       'Java', 'Python', 'HTML/CSS', 'Interest_WebDev', 'Interest_Android/IOS',
       'Interest_GameDev', 'Interest_ML', 'Interest_Security', 'Interest_IoT',
       'PrefTE_Atom', 'PrefTE_Brackets', 'PrefTE_Eclipse', 'PrefTE_Emacs',
       'PrefTE_Notepad', 'PrefTE_Sublime', 'PrefTE_VScode', 'PrefTE_Vim',
       'PrefTE_Wordpad', 'PrefTE_codechef', 'PrefOS_Linux distros',
       'PrefOS_Windows'],
      dtype='object')

In [20]:
for i in range(df.shape[0]):
    temp=[]
    temp=(df['Name'][i].split(' '))
    df['Name'][i]=temp.join();

AttributeError: 'list' object has no attribute 'join'

In [ ]:
df.to_csv('processedData',index=False)